/*
	Color palette:
		RED: 		#F44336;
		GREY:		#f2f2f2;
		BLUE:		#06c;
		DARK BLUE: 	#046DE0;
		WHITE:		#fff;
*/

 .menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  font-family: 'Open Sans Condensed', sans-serif;
}

.menu span {
	display: none;
	transition: 0.3s all;
}

.menu.fill {
	position: initial;
	display: flex;
  	align-items: center;
	background: rgba(4,109,224,0.9);
	height: 70px;
}

.menu a {
	text-decoration: none;
}

.hamburger {
	display: none;
	position: relative;
	width: 30px;
	height: 30px;
	margin: 0 25px;
	cursor: pointer;
}

.hamburger .bar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 6px;
	background: #fff;
	transition: 0.5s all;
}

.hamburger .bar:before,
.hamburger .bar:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 6px;
	background: #fff;
	transition: 0.5s all;
}

.hamburger .bar:before {
	top: -10px;
}

.hamburger .bar:after {
	top: 10px;
}

.hamburger.active .bar {
	background: transparent;
}

.hamburger.active .bar:before {
	top: 0;
	transform: rotate(45deg);
}

.hamburger.active .bar:after {
	top: 0;
	transform: rotate(135deg);
}

.login {
  margin: 15px 25px;
  padding-bottom: 5px;
  float: right;
  color: #B3B3B3;
  font-size: 20px;
  transition: 0.2s all;
}

.login:hover {
  cursor: pointer;
  color: #fff;
  border-bottom: solid 2px #fff;
}

.logo {
  margin: 15px 25px;
  float: left;
  font-family: 'Montserrat',sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.2s all;
}

.logo:hover{
  cursor: pointer;
  border-bottom: solid 2px #fff;
}

@media screen and (max-width: 500px) {
	
}