.search {
width: 100%;
display : flex;
background: #FFFFFF;
border: 0px solid #f3f3f3;
display: flex;
}

.search input {
width: 100%;
border: none;
outline: none;
padding: 15px 10px;
font-size: 30px;
font-family: 'private-sans', sans-serif;
color: #9f9f9f;
}

::placeholder {
color: #C6CDCD;
}

.search i {
font-size: 30px;
min-width: 30px;
text-align: center;
padding: 15px 10px;
color: #9baab2
}

@font-face {
font-family: 'private-sans';
src: URL('../font/openSansBold.ttf') format('sans-serif');
}}